.App-header {
    min-height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 100;
}

.App-header button {
    font-size: 16px;
    font-weight: 500;
}

.App-header button:hover {
    background-color: lightgreen;
    color: black;
}
