* {
  margin: 0;
  padding: 0;
  font-weight: 550;
  color: #6e6e6e;
}

.App {
  text-align: center;
  background-color: #eeeeee;
  height: 100vh;
  padding: 0 2rem;
}

.card {
  background-color: #cccccc;
  color: #6e6e6e;
  border: none;
  padding: 0.7rem;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.5s;
}

.card:hover {
  border-radius: 0;
  background-color: white;
  color: rgb(61, 61, 61);
}